.float:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.angular-gradient-text {
  /* Background color */
  background: linear-gradient(
    to right,
    #dd0031,   /* Angular Red */
    #c3002f,   /* Darker Angular Red */
    #770022,   /* Deep Red/Maroon */
    #6f42c1,   /* Angular Purple (Material Purple 500) */
    #a6120d,   /* Angular Orange/Red */
    #dd0031    /* Loop back to Angular Red */
  );
  /* Scale gradient to 200% */
  background-size: 150% auto;

  /* Form background to text */
  -webkit-background-clip: text;
  background-clip: text;

  /* Set actual text to transparent*/
  -webkit-text-fill-color: transparent;
  color: transparent;

  font-weight: bold;
}

.card {
  border: none;
  background-color: rgb(246, 245, 246);
}

.card:hover {
  color: #6f42c1;
}

.text-truncate:hover {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

.angular-text {
  color: rgb(21, 20, 23);
}

.header-btn {
  border: none;
  background-color: #dd0031;
  font-weight: bold;
}

.header-btn:hover {
  background-color: #770022;
}

.bi-heart, .bi-heart-fill {
  color: #dd0031;
}

.card-title {
  font-weight: bold;
}
